# project files
.idea/

# python byte files
*.pyc

# don't track dll's
*.dll

# ignore sprites to protect Oryx licence
assets/world.png
assets/monsters.png

assets/oryx/

# ignore screenshot

# ignore pyinstaller artifacts
*.spec
dist/
build/
setup.py

# ignore distribution packages
packages/

# ignore font
*.ttf

# ignore workspace play around test folder
workspace